.icon {
    position: relative;
    top: 5px;
}
span > span {
    margin-left: 10px;
}

span:hover {
    text-decoration: none;
    color: #537BFF;
    cursor: pointer;
}

span:active,
span.active {
    text-decoration: none;
    color: #537BFF;
    font-weight: bold;
}